
body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
}

header {
  background-color: #4b0082;
  color: white;
  padding: 20px 10px;
}

#logo {
  width: 100px;
  margin-bottom: 10px;
}

main {
  margin: 30px auto;
}

footer {
  margin-top: 50px;
  padding: 10px;
  background-color: #4b0082;
  color: white;
}
